li:nth-child(1) {
  color: rgb(1, 255, 0);
}

li:nth-child(2) {
  color: rgb(2, 254, 0);
}

li:nth-child(3) {
  color: rgb(3, 253, 0);
}

li:nth-child(4) {
  color: rgb(4, 252, 0);
}

li:nth-child(5) {
  color: rgb(5, 251, 0);
}

li:nth-child(6) {
  color: rgb(6, 250, 0);
}

li:nth-child(7) {
  color: rgb(7, 249, 0);
}

li:nth-child(8) {
  color: rgb(8, 248, 0);
}

li:nth-child(9) {
  color: rgb(9, 247, 0);
}

li:nth-child(10) {
  color: rgb(10, 246, 0);
}

li:nth-child(11) {
  color: rgb(11, 245, 0);
}

li:nth-child(12) {
  color: rgb(12, 244, 0);
}

li:nth-child(13) {
  color: rgb(13, 243, 0);
}

li:nth-child(14) {
  color: rgb(14, 242, 0);
}

li:nth-child(15) {
  color: rgb(15, 241, 0);
}

li:nth-child(16) {
  color: rgb(16, 240, 0);
}

li:nth-child(17) {
  color: rgb(17, 239, 0);
}

li:nth-child(18) {
  color: rgb(18, 238, 0);
}

li:nth-child(19) {
  color: rgb(19, 237, 0);
}

li:nth-child(20) {
  color: rgb(20, 236, 0);
}

li:nth-child(21) {
  color: rgb(21, 235, 0);
}

li:nth-child(22) {
  color: rgb(22, 234, 0);
}

li:nth-child(23) {
  color: rgb(23, 233, 0);
}

li:nth-child(24) {
  color: rgb(24, 232, 0);
}

li:nth-child(25) {
  color: rgb(25, 231, 0);
}

li:nth-child(26) {
  color: rgb(26, 230, 0);
}

li:nth-child(27) {
  color: rgb(27, 229, 0);
}

li:nth-child(28) {
  color: rgb(28, 228, 0);
}

li:nth-child(29) {
  color: rgb(29, 227, 0);
}

li:nth-child(30) {
  color: rgb(30, 226, 0);
}

li:nth-child(31) {
  color: rgb(31, 225, 0);
}

li:nth-child(32) {
  color: rgb(32, 224, 0);
}

li:nth-child(33) {
  color: rgb(33, 223, 0);
}

li:nth-child(34) {
  color: rgb(34, 222, 0);
}

li:nth-child(35) {
  color: rgb(35, 221, 0);
}

li:nth-child(36) {
  color: rgb(36, 220, 0);
}

li:nth-child(37) {
  color: rgb(37, 219, 0);
}

li:nth-child(38) {
  color: rgb(38, 218, 0);
}

li:nth-child(39) {
  color: rgb(39, 217, 0);
}

li:nth-child(40) {
  color: rgb(40, 216, 0);
}

li:nth-child(41) {
  color: rgb(41, 215, 0);
}

li:nth-child(42) {
  color: rgb(42, 214, 0);
}

li:nth-child(43) {
  color: rgb(43, 213, 0);
}

li:nth-child(44) {
  color: rgb(44, 212, 0);
}

li:nth-child(45) {
  color: rgb(45, 211, 0);
}

li:nth-child(46) {
  color: rgb(46, 210, 0);
}

li:nth-child(47) {
  color: rgb(47, 209, 0);
}

li:nth-child(48) {
  color: rgb(48, 208, 0);
}

li:nth-child(49) {
  color: rgb(49, 207, 0);
}

li:nth-child(50) {
  color: rgb(50, 206, 0);
}

li:nth-child(51) {
  color: rgb(51, 205, 0);
}

li:nth-child(52) {
  color: rgb(52, 204, 0);
}

li:nth-child(53) {
  color: rgb(53, 203, 0);
}

li:nth-child(54) {
  color: rgb(54, 202, 0);
}

li:nth-child(55) {
  color: rgb(55, 201, 0);
}

li:nth-child(56) {
  color: rgb(56, 200, 0);
}

li:nth-child(57) {
  color: rgb(57, 199, 0);
}

li:nth-child(58) {
  color: rgb(58, 198, 0);
}

li:nth-child(59) {
  color: rgb(59, 197, 0);
}

li:nth-child(60) {
  color: rgb(60, 196, 0);
}

li:nth-child(61) {
  color: rgb(61, 195, 0);
}

li:nth-child(62) {
  color: rgb(62, 194, 0);
}

li:nth-child(63) {
  color: rgb(63, 193, 0);
}

li:nth-child(64) {
  color: rgb(64, 192, 0);
}

li:nth-child(65) {
  color: rgb(65, 191, 0);
}

li:nth-child(66) {
  color: rgb(66, 190, 0);
}

li:nth-child(67) {
  color: rgb(67, 189, 0);
}

li:nth-child(68) {
  color: rgb(68, 188, 0);
}

li:nth-child(69) {
  color: rgb(69, 187, 0);
}

li:nth-child(70) {
  color: rgb(70, 186, 0);
}

li:nth-child(71) {
  color: rgb(71, 185, 0);
}

li:nth-child(72) {
  color: rgb(72, 184, 0);
}

li:nth-child(73) {
  color: rgb(73, 183, 0);
}

li:nth-child(74) {
  color: rgb(74, 182, 0);
}

li:nth-child(75) {
  color: rgb(75, 181, 0);
}

li:nth-child(76) {
  color: rgb(76, 180, 0);
}

li:nth-child(77) {
  color: rgb(77, 179, 0);
}

li:nth-child(78) {
  color: rgb(78, 178, 0);
}

li:nth-child(79) {
  color: rgb(79, 177, 0);
}

li:nth-child(80) {
  color: rgb(80, 176, 0);
}

li:nth-child(81) {
  color: rgb(81, 175, 0);
}

li:nth-child(82) {
  color: rgb(82, 174, 0);
}

li:nth-child(83) {
  color: rgb(83, 173, 0);
}

li:nth-child(84) {
  color: rgb(84, 172, 0);
}

li:nth-child(85) {
  color: rgb(85, 171, 0);
}

li:nth-child(86) {
  color: rgb(86, 170, 0);
}

li:nth-child(87) {
  color: rgb(87, 169, 0);
}

li:nth-child(88) {
  color: rgb(88, 168, 0);
}

li:nth-child(89) {
  color: rgb(89, 167, 0);
}

li:nth-child(90) {
  color: rgb(90, 166, 0);
}

li:nth-child(91) {
  color: rgb(91, 165, 0);
}

li:nth-child(92) {
  color: rgb(92, 164, 0);
}

li:nth-child(93) {
  color: rgb(93, 163, 0);
}

li:nth-child(94) {
  color: rgb(94, 162, 0);
}

li:nth-child(95) {
  color: rgb(95, 161, 0);
}

li:nth-child(96) {
  color: rgb(96, 160, 0);
}

li:nth-child(97) {
  color: rgb(97, 159, 0);
}

li:nth-child(98) {
  color: rgb(98, 158, 0);
}

li:nth-child(99) {
  color: rgb(99, 157, 0);
}

li:nth-child(100) {
  color: rgb(100, 156, 0);
}

/*# sourceMappingURL=style.css.map */
